modules = ["python-3.12", "web"]
run = "docker-compose up --build"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "docker-compose up --build"]

[workflows]
runButton = "Django Server"

[[workflows.workflow]]
name = "Django Server"
author = 44854017
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py migrate"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py loaddata zaino/fixtures/initial_data.json"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver 0.0.0.0:8000"

[[ports]]
localPort = 8000
externalPort = 80
